// editor.scss
.cgb-floating-boxes-editor-preview {
  border: 1px dotted #f00;

  .cgb-group {
    position: relative;
    width: min(300px, 80%);
    margin: 0 auto;
  }

  .cgb-floating-box {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4CAF50;
    z-index: 3;
    transition: all 0.3s ease;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .cgb-floating-box.align-right {
    left: 0;
    right: unset;
  }

  .cgb-floating-box.align-left {
    left: unset;
    right: 0;
  }

  .cgb-floating-box.cgb-second {
    background-color: #388E3C;
    transform: translateY(-10px) translateX(10px);
    z-index: 2;
  }

  .cgb-floating-box.cgb-third {
    background-color: #2E7D32;
    transform: translateY(-20px) translateX(20px);
    z-index: 1;
  }

  .cgb-floating-box.cgb-second.align-left {
    transform: translateY(-10px) translateX(-10px);
  }

  .cgb-floating-box.cgb-third.align-left {
    transform: translateY(-20px) translateX(-20px);
  }
}